.custom-search-input {
  display: flex;
  .is-search {
    border-left: 1px solid #e0e0e0;
    width: 280px;
    .control {
      padding: 0 16px;
      width: 100%;
      input {
        border: none;
      }
    }
  }
  .is-icon {
    border-left: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    svg {
      stroke: #999;
    }
  }
}
.control{
  box-sizing: border-box;
  clear: both;
  font-size: 1rem;
  position: relative;
  text-align: inherit;
}
input{
  font-size: .9rem;
  height: 36px;
  transition: all .3s;
  outline: none;
  border-bottom: 1px #999 solid ;
}
.is-hidden {
  display: none !important;
}