.heroes-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 5px;
  .card {
    // border: 5px #e62429 solid;
    // box-shadow: 0 0 0 1px #e62429;
    position: relative;
    height: 300px;
    width: 300px;
    .title {
      display: none;
    }

    img {
      width: 300px;
      height: 300px;
      object-fit: contain;
    }
    &:hover {
      cursor: pointer;
      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 24px;
        transition: all 0.5s ease-in-out;
      }
    }
  }
}

.hero-detail {
  width: 100%;
  .mobile-back{
    display: none;
  }
  .character-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    img {
      width: 750px;
      height: auto;
      display: inline-block;
      object-fit: contain;
      border-radius: 5px;
    }

    .title {
      margin-top: 0.5em;
      font-size: 1.5em;
      color: hsl(210, 8%, 25%);
      font-weight: 500;
    }
  }
  .info-panel {
    width: 100%;
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    section {
      margin-bottom: 1em;
      min-width: calc(50vw - 25px);
    }
    .info {
      h3 {
        font-size: 2em;
        color: hsl(210, 8%, 25%);
        font-weight: 500;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .heroes-list {
    flex-direction: column;
    margin: 0;
    .card {
      margin-bottom: 0.5em;

      margin: 20px;
      .title {
        margin-bottom: 0.5em;
        font-size: 2em;
        color: hsl(210, 8%, 25%);
        font-weight: 500;
      }

      img {
        width: 100%;
        height: auto;
        display: inline-block;
        object-fit: contain;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  
  .hero-detail {
    .character-container {
      flex-direction: column;
      img {
        width: 100%;
        height: auto;
        display: inline-block;
        object-fit: contain;
      }
    }
  .info-panel {
    flex-direction: column;
  }
  }
}
